#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.custom-button-wrapper .ant-btn:hover {
  @apply bg-gradient-to-l from-red-500 to-purple-400 !important; /* Make hover styles important */
  transition: background-color 0.3s ease !important; /* Ensure transition is also important */
}
